<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="menustyle.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.0.0/normalize.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.css"/>
    <title>personal</title>
  </head>
  <body ng-controller="mainCtrl">
    <div id="cssmenu">
    <ul >
       <li><a ui-sref="home"><span>Home</span></a></li>
       <li class="has-sub"><a ui-sref="products"><span>Products</span></a>
          <ul>
             <li class="has-sub" ng-click="getProduct()"><a ui-sref="boards"><span>Boards</span></a>
                <ul>
                   <li><a ui-sref="boards"><span>Board Inventory</span></a></li>
                   <li class="last"><a ui-sref="sales"><span>Board Sales</span></a></li>
                </ul>
             </li>
             <li class="has-sub"><a ui-sref="gear"><span>Gear</span></a>
                <ul>
                   <li><a ui-sref="gear"><span>New Arrivals</span></a></li>
                   <li class="last"><a ui-sref="sales"><span>Sales</span></a></li>
                </ul>
             </li>
          </ul>
       </li>
       <li><a ui-sref="contact"><span>contact</span></a></li>
       <li class="admin" ng-click="getUser()"><a ui-sref="admin"><span>Admin</span></a></li>
    </ul>
    </div>
    <ui-view></ui-view>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="js/controller.js"></script>
    <script type="text/javascript" src="js/adminctrl.js"></script>
    <script type="text/javascript" src="js/productctrl.js"></script>
    <script type="text/javascript" src="service/productSvc.js"></script>
    <script type="text/javascript" src="service/gearsvc.js"></script>
    <script type="text/javascript" src="service/userservice.js"></script>
    <script type="text/javascript" src="js/script.js"></script>


  </body>
</html>
